
*.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/test_df.pkl
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
Burgers Equation/minus_sin_pix.csv
*.csv
Burgers Equation/Burgers_generalised_dataset.h5
